/node_modules/
*/node_modules/*
/dist/
*/dist/*
*.env
.env
*/.env
*/*.env
*.env.production
.env.production
*/.env.production
*/*.env.production/node_modules/
*/node_modules/*
*.env
.env
*/.env
*/*.env
*.env.production
.env.production
*/.env.production
*/*.env.production